body {
  /* NOT FULL COLOURS IN ORDER TO REDUCE CONTRAST AND LOOK 'OLD 70s TEXT-BOOKY' */
  background-color: #201727;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body,
a,
a:hover,
a:visited {
  color: #aa6600;
}

main {
  margin: 0;
  padding: 1em;
}

pre {
  /* NOT FULL WHITE FOR CONTRAST, SLIGHT ORANGE-ISH */
  color: #d3bbac;
  /* NOT FULL BLACK FOR CONTRAST, SLIGHT OCEAN-ISH */
  background-color: #29475b;

  padding: 1em;

  /* KEEP PRE, BUT WRAP FOR EASIER LEGIBILTIY */
  white-space: pre-wrap;
}
